
@{
    ViewBag.Title = "Index";
}



<div id="main">
    <nav>
        <div class="logo">
            <img src="logo.svg" alt="Logo Image">
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Models</a></li>
            <li><a href="#">About us</a></li>
 
            <li><button class="login-button" href="#">Login</button></li>
            <li><button class="sign-button" href="#">Sign-up</button></li>
        </ul>
    </nav>
    <script src="nav.js"></script>
    @*<nav>
            <h1>Premier</h1>
            <h2>Home</h2>
            <h2>About</h2>
            <h2>Model</h2>
            <div>
                <button>Sign up</button> <button>Login</button>
            </div>
        </nav> *@
    <div id="center">
        <div id="content">
            <video autoplay loop muted src="~/Content/video1.mp4"></video>

            <div id="overlay">
                <div id="over1">
                    <h1>Photography <br> and films</h1>
                    <h2>01</h2>
                </div>
                <div id="over2">
                    <h4>Explore</h4>
                    <i class="ri-arrow-right-line"></i>
                </div>
            </div>
        </div>
    </div>
    <div id="scroll">
        <div id="container">
            <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW9kZWwlMjBwb3J0cmFpdHxlbnwwfHwwfHx8MA%3D%3D">
            <img src="https://images.unsplash.com/photo-1524504388940-b1c1722653e1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bW9kZWwlMjBwb3J0cmFpdHxlbnwwfHwwfHx8MA%3D%3D">
            <img src="https://images.unsplash.com/photo-1594063596316-aa5f41ceb8dc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bW9kZWwlMjBwb3J0cmFpdHxlbnwwfHwwfHx8MA%3D%3D">
            <img src="https://images.unsplash.com/photo-1581403341630-a6e0b9d2d257?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bW9kZWwlMjBwb3J0cmFpdHxlbnwwfHwwfHx8MA%3D%3D">
            <img src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fG1vZGVsJTIwcG9ydHJhaXR8ZW58MHx8MHx8fDA%3D">
            <img src="https://images.unsplash.com/photo-1515468381879-40d0ded81044?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fG1vZGVsJTIwcG9ydHJhaXR8ZW58MHx8MHx8fDA%3D">
            <img src="https://images.unsplash.com/photo-1541216970279-affbfdd55aa8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fG1vZGVsJTIwcG9ydHJhaXR8ZW58MHx8MHx8fDA%3D">
        </div>
        <div id="container">
            <img src="https://images.unsplash.com/photo-1594744803329-e58b31de8bf5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fHdvbWFufGVufDB8fDB8fHww">
            <img src="https://images.unsplash.com/photo-1488426862026-3ee34a7d66df?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDB8fHdvbWFufGVufDB8fDB8fHww">
            <img src="https://images.unsplash.com/photo-1609505848912-b7c3b8b4beda?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTJ8fHdvbWFufGVufDB8fDB8fHww">
            <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjZ8fHdvbWFufGVufDB8fDB8fHww">
            <img src="https://images.unsplash.com/photo-1509967419530-da38b4704bc6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njh8fHdvbWFufGVufDB8fDB8fHww">
            <img src="https://images.unsplash.com/photo-1594744803086-b902dd06f88a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODB8fHdvbWFufGVufDB8fDB8fHww">
            <img src="https://images.unsplash.com/photo-1515468381879-40d0ded81044?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fG1vZGVsJTIwcG9ydHJhaXR8ZW58MHx8MHx8fDA%3D">
        </div>
    </div>
    <div id="alphabet">
        <h5>ALL</h5>
        <h6>
            A</h5>
            <h6>B</h6>
            <h6>C</h6>
            <h6>D</h6>
            <h6>E</h6>
            <h6>F</h6>
            <h6>G</h6>
            <h6>H</h6>
            <h6>I</h6>
            <h6>J</h6>
            <h6>K</h6>
            <h6>L</h6>
            <h6>M</h6>
            <h6>N</h6>
            <h6>O</h6>
            <h6>P</h6>
            <h6>Q</h6>
            <h6>R</h6>
            <h6>S</h6>
            <h6>T</h6>
            <h6>U</h6>
            <h6>V</h6>
            <h6>W</h6>
            <h6>X</h6>
            <h6>Y</h6>
            <h6>Z</h6>


    </div>
    <div class="page">
        <div class="page1"></div>
        <div class="page2">
            <img src="https://images.unsplash.com/photo-1536896407451-6e3dd976edd1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="model">
            <div class="page2-text">
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quisquam, sit omnis inventore atque accusamus officiis et nostrum voluptatum dolorum! Nam, ipsa enim totam ad debitis suscipit eligendi doloremque veniam!</h4>
                <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente perferendis illo dolores ipsum itaque commodi totam omnis necessitatibus officiis. Repellendus rerum illo maiores, animi at deserunt praesentium itaque fugiat? Porro!</h5>
            </div>
        </div>
    </div>
    <div class="page3">
        <div class="page2">
            <img src="https://images.unsplash.com/photo-1536896407451-6e3dd976edd1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="model">
            <div class="page2-text">
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quisquam, sit omnis inventore atque accusamus officiis et nostrum voluptatum dolorum! Nam, ipsa enim totam ad debitis suscipit eligendi doloremque veniam!</h4>
                <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente perferendis illo dolores ipsum itaque commodi totam omnis necessitatibus officiis. Repellendus rerum illo maiores, animi at deserunt praesentium itaque fugiat? Porro!</h5>
            </div>
        </div>
        <div class="page1"></div>
    </div>
    <div class="page4">
        <div class="page4-img">
            <h5>N</h5>
        </div>
    </div>
    <!-- <div class="page5">
        <div class="page5-part1">Updates</div>
        <div class="page5-part2">
            <div class="inner">
                <h4>Mens fashion</h4>
                <img src="https://images.unsplash.com/photo-1572631382901-cf1a0a6087cb?q=80&w=1882&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="model" height="125" width="130">
                <div id="text-size">Khadim & Tom ford<h6>25th march 2024</h6></div>
            </div>
            <div class="inner">
                <h4>Exclusive 2024</h4>
                <img src="https://images.unsplash.com/photo-1566492031773-4f4e44671857?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="model" height="125" width="130">
                <div id="text-size">Glass X belle<h6>31st March 2024</h6></div>
            </div>
            <div class="inner">
                <h4>Womens fashion</h4>
                <img src="https://images.unsplash.com/photo-1593937799405-f5da790f5b04?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="model" height="125" width="130">
                <div id="text-size">Arenna Homme<h6>1st April 2024</h6></div>
            </div>
            <div class="inner">
                <h4>Models talk</h4>
                <img src="https://plus.unsplash.com/premium_photo-1671656349322-41de944d259b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="model" height="125" width="130">
                <div id="text-size">jing for Wonderland<h6>23rd July 2024</h6></div>
            </div>
        </div>
    </div>-->
    <div class="page6">
        <h1>Updates</h1>
        <div class="elem">
            <h4>Mens fashion</h4>
            <div class="img-box">
                <img src="https://plus.unsplash.com/premium_photo-1671656349322-41de944d259b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="model" height="100" width="120">
            </div>
            <div class="elem-part2">
                <h1>Khadim & Tom Ford</h1>
                <h5>25th march 2024</h5>
            </div>
        </div>

        <div class="elem">
            <h4>Mens fashion</h4>
            <div class="img-box">
                <img src="https://images.unsplash.com/photo-1566492031773-4f4e44671857?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="model" height="100" width="120">
            </div>
            <div class="elem-part2">
                <h1>Glass X belle</h1>
                <h5>25th march 2024</h5>
            </div>

        </div>
        <div class="elem">

            <h4>Womens fashion</h4>
            <div class="img-box">
                <img src="https://images.unsplash.com/photo-1593937799405-f5da790f5b04?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="model" height="100" width="110">
            </div>
            <div class="elem-part2">
                <h1>Arenna Homme</h1>
                <h5>25th march 2024</h5>

            </div>
        </div>
        <div class="elem">

            <h4>Womens fashion</h4>
            <div class="img-box">
                <h2 style="font-family: monument; font-weight: 500;">EXCLUSIVE<br>OFFER</h2>
            </div>
            <div class="elem-part2">
                <h1>Jing for Wonderland</h1>
                <h5>25th march 2024</h5>
            </div>

        </div>
    </div>
    <!-- page 6 ends here -->

    <div class="page7">
        <div class="pg-7-left">
            <img src="https://images.unsplash.com/photo-1579633676277-5748b4e79574?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image" height="600" width="500">
        </div>
        <div class="pg-7-right">
            <h2>Movie Shot</h2>
            <h5>
                London based Tom mitchel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptatum reprehenderit, velit officia quasi dolor id veritatis quia quibusdam vero ex veniam necessitatibus dolores! Distinctio, expedita dolor. Aliquid, repudiandae quo.
            </h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laborum nobis repudiandae repellendus necessitatibus, sapiente ratione culpa illum officia adipisci deleniti molestiae modi fuga totam est quod eius iste sed.</p>
            <div class="img-page7">
                <div class="img-left">
                    <img src="https://images.unsplash.com/photo-1628535275626-ab9d49322e5e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image" height="280" width="220">
                </div>
                <div class="img-right">
                    <img src="https://images.unsplash.com/photo-1545363915-9cee89f5f3a1?q=80&w=1891&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image" height="280" width="220">
                </div>
            </div>
        </div>
    </div>
    <!-- page 7 ends here -->
    <hr>
    <h2 style="text-align: center; font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; font-weight: 800; font-size: 3.5rem; color: white; background-color: black;">PHOTOSHOOT MODELS 2024</h2>
    <hr style="color: white">
    <div class="page8">
        <div class="pg-8-left">
            <img src="https://images.unsplash.com/photo-1610765431323-d88c88a2b2c8?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image" height="580" width="490">
        </div>
        <div class="pg-8-right">
            <div class="img-page7">
                <div class="img-left">
                    <img src="https://images.unsplash.com/photo-1583167460513-467838c6ed7c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDh8fHdvbWVuJTIwbW9kZWx8ZW58MHwxfDB8fHww" alt="image" height="280" width="220">
                </div>
                <div class="img-right">
                    <img src="https://images.unsplash.com/photo-1635451151786-46b0cca30e75?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image" height="280" width="220">
                </div>
            </div>
            <h2>Womens section</h2>
            <h5>
                London based Tom mitchel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptatum reprehenderit, velit officia quasi dolor id veritatis quia quibusdam vero ex veniam necessitatibus dolores! Distinctio, expedita dolor. Aliquid, repudiandae quo.
            </h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laborum nobis repudiandae repellendus necessitatibus, sapiente ratione culpa illum officia adipisci deleniti molestiae modi fuga totam est quod eius iste sed.</p>
        </div>
    </div>
    <!-- page 8 ends here -->
    <div class="blank">
    </div>
    <div class="marquee">
        <h1>Premier model 2024</h1>
        <h1>Premier model 2024</h1>
        <h1>Premier model 2024</h1>
        <h1>Premier model 2024</h1>
        <h1>Premier model 2024</h1>
        <h1>Premier model 2024</h1>
    </div>
    <div class="page9">
        <div class="container2">
            <div class="child1">Blog</div>
            <div class="child2">
                <span class="b">B</span> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto rem dolores omnis fugit, sapiente, blanditiis ex dicta tenetur cum eligendi harum exercitationem hic ducimus rerum eveniet magnam, repellat repellendus illo!
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <!-- <img src="./image/fares-hamouche-2BOZxtZhaUM-unsplash.jpg" alt="model" height="300" width="400"> -->
            </div>
            <div class="child3">
                <span class="b">B</span> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, adipisci. Ipsum animi doloribus repudiandae eligendi commodi. Atque excepturi quae natus quia iste dolore ad, vero aut laboriosam rerum nobis quam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <!-- <img src="./image/rayul-_M6gy9oHgII-unsplash.jpg" alt="model" height="300" width="400"> -->
            </div>
        </div>
    </div>

    <!-- page 9 ends here -->
</div>



